<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="daoa" class="pers.springone.dao.Impl.ICarDaoImpl  ">

    </bean>
    <bean id="isca" class="pers.springone.service.Impl.ICarServiceImpl">
        <property name="dao" ref="daoa">

        </property>
    </bean>
    <!--<bean id="action" class="pers.springone.action.CarAction">-->
        <!--<property name="ics" ref="isca">-->
        <!--</property>-->
    <!--</bean>-->
</beans>